---
import '../style/HeaderStyle.css';
---

<header class="cabecalho">

    <!-- Logo -->

    <a href="/" class="logo">

        <img src="/public/logo/Logo.jpg" alt="Auto Prime" style="border-radius: 6px;"/>

    </a>

    <!-- Menu -->

    <nav class="menu">

        <a href="#novos-modelos">
            Novos Modelos
        </a>

        <a href="#carros-populares">
            Carros Populares
        </a>

        <a href="#venda-seu-usado">
            Venda seu Usado
        </a>

        <a href="#saiba-mais">
            Saiba Mais
        </a>

    </nav>

</header>